doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css', type="text/css")
    link(href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap", rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
  body(class=bodyClass)
    .container.pt-6
      .buttons
        a.button.is-link(href="/boss/company") Add Company
        a.button.is-link(href="/boss/admin") Add Admin
        a.button.is-link(href="/boss/ngo") Add Ngo
      .buttons
        a.button.is-link(href="/boss/list/students") All Students
        a.button.is-link(href="/boss/list/companies") All Companies
        a.button.is-link(href="/boss/list/ngos") All Ngos
        a.button.is-link(href="/boss/list/admins") All Admins
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js")
    